.groupby-modal {
  height: 100%;
  max-height: 250px;
  width: 400px;
  display: flex;
  flex-direction: column;

  .groupby-modal-header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    svg {
      flex: 0 0 30px;
    }
  }

  .select-wrapper {
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    font-size: 16px;

    .groupby-modal-select {
      width: 100%;
      display: flex;
      align-items: center;

      label {
        font-size: 17px;
      }

      select {
        margin-left: 10px;
        flex: 1 0 auto;
        width: 100%;
        min-width: 15ch;
        max-width: 30ch;
        border: 2px solid black;
        border-radius: 0.2rem;
        padding: 0.25em 0.5em;
        font-size: inherit;
        cursor: pointer;
        line-height: 24px;
        background-color: #fff;
        background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
      }
    }

    .groupby-modal-trashicon {
      flex: 0 0 40px;
      cursor: pointer;

      &:hover path {
        transition: all 0.3s ease-in-out;
        stroke: #0424a3;
      }
    }
  }

  .groupby-modal-apply {
    display: block;
    border-radius: 50px;
    background: #0424a3;
    color: white;
    align-self: flex-end;
    padding: 10px 40px;
    font-size: 16px;
    font-family: inherit;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    line-height: 20px;
    text-transform: uppercase;

    &:hover {
      background: rgb(197, 104, 10);
    }
  }
}